header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 158, 235)
}

h1{
    font-size:5em;
    color:rgb(78, 231, 78);
    font-family:Georgia, 'Times New Roman', serif;
    letter-spacing: 2px;
    text-shadow: rgb(77, 98, 218);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}
h3{
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    color: rgb(74, 91, 240)
}

.selecao, .btnSortear, .sorteio, .acertos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 98, 197)
}

.selecao> input{
    width: 1.5em;
    font-size: 4em;
    margin-right: 6px;
}

.btnSortear > button{
    font-size: 2em;
    padding: 10px 20px;
}

footer{
    background-color: rgb(18, 201, 233);
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: absolute;

}
